<!DOCTYPE html>
<html>
<head>
  <title>Lil_Buddy</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<body>
  
    <% if flash[:shortened_id].present? %>
    <p class='shortened-link'>
      <%= link_to url_url(flash[:shortened_id]) %>
      Thanks for stopping bye!
    </p>
    <% end %>

<%= yield %>

</body>
</html>
